/***************\
	BASE
\***************/


body {
	margin: 0;
}

/***************\
	BACK
\***************/

.back {
	position: relative;
	width: 100%;
	height: 850px;

	img {
		width: 100%;
		height: 100%;
	}
}

.cache {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #000;
	opacity: 0.3;
}

.back-block {
	position: absolute;
	top: 0;

	h2 {
		font-family: Roboto;
		color: #FFF;
		margin-left: 470px;
		margin-top: 255px;
		font-weight: 400;
		width: 300px;
		line-height: 1.3;
		font-size: 28px;
	}

	p {
		font-family: Roboto;
		color: #FFF;
		font-size: 20px;
		width: 360px;
		margin-left: 470px;
		font-weight: 400;
		line-height: 1.6;
	}
}

.back-btn {
    min-width: 176px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 470px;
    font-size: 20px;
    line-height: 1.33333;
    cursor: pointer;
    background: #008955;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    border: 2px solid #008955;

    a {
    	color: #FFF;
    	text-decoration: none;
    	font-weight: 400;
    	font-family: Roboto;
    }
}

.back-btn:hover {
	background-color: #166816;
}

/***************\
	INTER-DIV
\***************/

.inter {
	height: 437px;
	text-align: center;
	padding-top: 50px;
}

.inter-block {
	margin-left: auto;
	margin-right: auto;
	padding-right: 50px;
	width: 19%;
	display: inline-block;

	img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}

	a {
		width: 15%;
		height: 268px;
		position: absolute;
		border: 1px solid #f8f8f9;
		padding: 50px 40px 30px 36px;
	}

	a:hover {
		border-color: #9EF9DA;
		transition: box-shadow .2s,color .2s;
	}
}

.inter-btn {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	h2 {
		font-family: Roboto;
		font-size: 22px;
		font-weight: 400;
	}

	p {
		font-family: Roboto;
		font-weight: 300;
	}
}

.background {
	background-color: #f1f1f1;
	height: 500px;
}

.inter-2 {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;

	h2 {
		text-align: center;
    	padding-top: 53px;
    	font-family: Roboto;
    	font-weight: 300;
    	margin-right: auto;
    	margin-left: auto;
    	text-transform: uppercase;
    	font-size: 18px;
    	margin-top: 0;
	}

	.inter-block-2 {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		margin-top: 20px;
		text-align: center;

		img {
			width: 50%;
			height: 105px;
			text-align: center;
		}
	
		.inter-btn {
	    	text-align: center;
	    	width: 78%;

    		h2 {
    			font-family: Roboto;
				font-size: 19px;
				font-weight: 400;
				text-transform: none;
				padding-top: 0;
				margin-left: auto;
				margin-right: auto;
    		}

    		a {
    			text-decoration: none;
    			color: #008955;
    			cursor: pointer;
    		}

    		a:hover {
    			text-decoration: underline;
    			text-decoration-color: green;
    		}

    		p {
    			font-size: 14px;
    		}
		}
	}

	.inter-btn-2 {
		margin-top: 50px;

		a {
    		padding-top: 8px;
    		margin-left: auto;
    		margin-right: auto;
    		font-size: 18px;
    		padding: 8px 40px;
    		font-family: Roboto;
    		color: #FFF;
    		font-weight: 400;
    		line-height: 1.33333;
    		cursor: pointer;
    		background: #008955;
    		text-align: center;
    		border-radius: 4px;
    		border: 2px solid #008955;
    		text-decoration: none;
		}

		a:hover {
			background-color: #166816;
		}
	}
}

.video {
	margin-top: 35px;
	text-align: center;
	margin-bottom: 80px;
}

.brand {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 65px;

	img {
		margin-right: 50px;
		margin-left: 50px;
	}
}

.back-btn-2 {
    background-color: #dcdcdd;
    border: 2px solid #dcdcdd;
	min-width: 185px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 470px;
    font-size: 18px;
    line-height: 1.33333;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    border-radius: 4px;
    position: absolute;

    a {
    	color: #323233;
    	text-decoration: none;
    	font-weight: 400;
    	font-family: Roboto;
    }
}

.back-btn-2:hover {
	background-color: #FFF;
}

.inter-block-3 {
	h2 {
	    text-align: center;
	    font-family: Roboto;
	    font-weight: 400;
	    color: #4E4E4E;
	    margin-right: auto;
	    margin-left: auto;
	    font-size: 28px;
	}

	p {
		text-align: center;
	    font-family: Roboto;
	    font-weight: 400;
	    font-size: 20px;
	    width: 35%;
	    margin-left: auto;
	    margin-right: auto;
	    color: #4E4E4E;
	    line-height: 1.4;
	}
}

.brand-2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;

	img {
		margin-right: 40px;
		margin-left: 40px;
	}
}

.inter-4 {
	height: auto;
	width: 100%;
    background-color: #69696a;
}

.logo {
	padding-top: 18px;
    text-align: center;
    color: #FFF;
    padding-bottom: 15px;

    a {
        margin-top: 30px;
	    text-align: center;
	    font-family: Roboto;
	    color: #FFF;
	    text-decoration: none;
	    font-size: 25px;
	    letter-spacing: 2px;
    }

    img {
    	width: 250px;
    }
}

.menu {
	text-align: center;

	a {
		font-family: Roboto;
		font-weight: 300;
		font-size: 18px;
		text-decoration: underline;
		text-decoration-color: grey;
		color: #FFF;
	}
}

.menu-item:hover {
	text-decoration-color: #B7B7B7;
}

.menu-item:not(:first-child):before {
	transition-duration: 0.3s;
	content: '|';
	color: #FFF;
	display: inline-block;
	padding: 0 15px;
}

.inter-block-4 {
	margin-top: 100px;
	border-top: 1px dashed #fff;

	p {
	    font-family: Roboto;
	    width: 47%;
	    line-height: 1.6;
	    color: #FFF;
	}

	.inter-btn-4 {
		margin-top: 50px;

		a {
			background-color: #fff;
		    display: block;
		    width: 25%;
		    padding-bottom: 15px;
		    text-align: center;
		    padding-top: 15px;
		    border-radius: 3px;
		    border: 2px solid #d0d0d0;
			transition: border-color .2s;
		   	text-decoration: none;
		   	color: #777;
		   	font-family: Roboto;
		   	font-size: 18px;
		    font-weight: 400;
	    }
	}
}

.inter-btn-3 {
	a {
		color: #FFF;
		font-family: Roboto;
		font-size: 16px;
	}

    a:hover {
    	text-decoration-color: #B7B7B7;
    }
}