.inter {
	width: 15%;
	margin-left: 355px;
	padding-right: 57px;
	margin-top: 870px;
	float: left;
	padding: 60px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}

	a {
		z-index: 5;
		width: 385px;
		height: 335px;
		padding-left: 0;
		margin-left: -50px;
		margin-top: -230px;
		padding-top: 0;
		display: block;
		position: absolute;
		border: 1px solid #f8f8f9;
	}

	a:hover {
		border-color: #9EF9DA;
		transition: box-shadow .2s,color .2s;
	}
}

.inter-btn {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 300;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-size: 16px;
	}
}

.inter-2 {
	width: 15%;
	padding-right: 57px;
	margin-left: 30px;
	margin-top: 870px;
	margin-bottom: 50px;
	float: left;
	padding: 60px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}

	a {
		z-index: 5;
		width: 385px;
		height: 335px;
		padding-left: 0;
		margin-left: -50px;
		margin-top: -230px;
		padding-top: 0;
		display: block;
		position: absolute;
		border: 1px solid #f8f8f9;
	}

	a:hover {
		border-color: #9EF9DA;
		transition: box-shadow .2s,color .2s;
	}
}

.inter-btn-2 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 300;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-size: 16px;
	}
}

.inter-3 {
	width: 15%;
	padding-right: 57px;
	margin-right: 314px;
	margin-top: 870px;
	margin-bottom: 50px;
	float: right;
	padding: 60px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}

	a {
		z-index: 5;
		width: 385px;
		height: 335px;
		padding-left: 0;
		margin-left: -50px;
		margin-top: -230px;
		padding-top: 0;
		display: block;
		position: absolute;
		border: 1px solid #f8f8f9;
	}

	a:hover {
		border-color: #9EF9DA;
		transition: box-shadow .2s,color .2s;
	}
}

.inter-btn-3 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 300;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-size: 16px;
	}
}


.work {
	width: 100%;
	margin-top: 65px;
	text-align: center;
	positon: absolute;
	z-index: 2;

	h2 {
		font-weight: 400;
		text-transform: uppercase;
		font-family: Roboto;
		font-size: 17px;
	}
}

.inter-4 {
	width: 15%;
	margin-left: 315px;
	padding-right: 57px;
	margin-top: 150px;
	float: left;
	padding: 60px 15px 5px 50px;
}

.inter-btn-4 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 400;
		font-family: Roboto;
		font-size: 22px;
		padding-bottom: 5px;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 15px;
	}

	a {
		text-decoration: none;
		color: #008955;
		font-family: Roboto;
	}

	a:hover {
		color: #03754F;
		text-decoration: underline;
	}
}

.inter-5 {
	width: 15%;
	padding-right: 57px;
	margin-top: 150px;
	float: left;
	padding: 60px 30px 5px 0px;
}

.inter-btn-5 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 400;
		font-family: Roboto;
		font-size: 22px;
		padding-bottom: 5px;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 15px;
	}
}

.inter-6 {
	width: 15%;
	padding-right: 57px;
	margin-top: 150px;
	float: left;
	padding: 60px 0px 5px 0px;
}

.inter-btn-6 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 400;
		font-family: Roboto;
		font-size: 22px;
		padding-bottom: 5px;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 15px;
	}
}

.inter-7 {
	width: 15%;
	padding-right: 57px;
	margin-top: 150px;
	float: left;
	padding: 60px 0px 5px 40px;
}

.inter-btn-7 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 400;
		font-family: Roboto;
		font-size: 22px;
		padding-bottom: 5px;
	}

	p {
		text-align: center;
		padding-left: 0px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 15px;
	}
}

.video {
	width: auto;
	margin-left: 300px;
	margin-top: 2680px;
	text-align: center;
	position: absolute;
	z-index: 3;
}

.inter-8 {
	margin-left: 400px;
	margin-top: 2130px;
	margin-bottom: 30px;
	float: left;
	padding: 100px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-9 {
	margin-top: 2130px;
	margin-right: 974px;
	float: right;
	padding: 100px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-10 {
	float: right;
	margin-top: -86px;
	margin-right: 700px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-11 {
	float: right;
	padding: 0px 50px 5px 50px;
	margin-top: -86px;
	margin-right: 400px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-12 {
	width: 100%;
	padding-right: 57px;
	margin-top: 890px;
	float: left;
	padding: 60px 0px 5px 40px;
}

.inter-btn-12 {
	h2 {
		text-align: center;
		padding-left: 0px;
		font-weight: 400;
		font-family: Roboto;
		font-size: 26px;
		padding-bottom: 10px;
		color: #7F7F7F;
	}

	p {
		text-align: center;
		padding-left: 618px;
		font-family: Roboto;
		font-weight: 400;
		font-size: 20px;
		max-width: 661px;
		display: block;
		color: #7F7F7F;
		line-height: 24px;
	}
}

.inter-13 {
	float: left;
	margin-left: 495px;
	margin-top: 45px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-14 {
	float: right;
	margin-top: 45px;
	margin-right: 992px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-15 {
	float: right;
	margin-top: -86px;
	margin-right: 806px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-16 {
	float: right;
	margin-top: -86px;
	margin-right: 590px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}

.inter-17 {
	float: right;
	margin-top: -86px;
	margin-right: 420px;
	padding: 0px 50px 5px 50px;

	img {
		width: 100%;
		position: block;
	}
}