/***************\
	BASE
\***************/
/* line 6, ../sass/_background2.scss */
body {
  margin: 0;
}

/***************\
	BACK
\***************/
/* line 12, ../sass/_background2.scss */
.back {
  position: relative;
  height: 850px;
  background-image: url("../img/opendesk_shot3_2045_edit.full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 20, ../sass/_background2.scss */
.back-2 {
  position: relative;
  height: 850px;
  background-image: url("../img/opendesk_homepage_maker-feature_renatus.full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 28, ../sass/_background2.scss */
.back-3 {
  position: relative;
  height: 850px;
  background-image: url("../img/opendesk_homepage_workplace-feature_old-oak.full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 36, ../sass/_background2.scss */
.cache {
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}

/* line 42, ../sass/_background2.scss */
.back-block {
  position: absolute;
  top: 0;
}
/* line 46, ../sass/_background2.scss */
.back-block h2 {
  font-family: Roboto;
  color: #FFF;
  margin-left: 470px;
  margin-top: 255px;
  font-weight: 400;
  width: 300px;
  line-height: 1.3;
  font-size: 28px;
}
/* line 57, ../sass/_background2.scss */
.back-block p {
  font-family: Roboto;
  color: #FFF;
  font-size: 20px;
  width: 360px;
  margin-left: 470px;
  font-weight: 400;
  line-height: 1.6;
}

/* line 68, ../sass/_background2.scss */
.back-btn {
  width: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 470px;
  font-size: 20px;
  line-height: 1.33333;
  cursor: pointer;
  background: #008955;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #008955;
}
/* line 81, ../sass/_background2.scss */
.back-btn a {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-family: Roboto;
}

/* line 89, ../sass/_background2.scss */
.back-btn:hover {
  background-color: #166816;
}

/***************\
	INTER-DIV
\***************/
/* line 95, ../sass/_background2.scss */
.inter {
  text-align: center;
  padding-top: 50px;
}

/* line 100, ../sass/_background2.scss */
.inter-block {
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  width: 19%;
  display: inline-block;
  margin-bottom: 50px;
}
/* line 108, ../sass/_background2.scss */
.inter-block img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
/* line 115, ../sass/_background2.scss */
.inter-block a {
  width: 15%;
  height: 268px;
  position: absolute;
  border: 1px solid #f8f8f9;
  padding: 50px 40px 30px 36px;
}
/* line 123, ../sass/_background2.scss */
.inter-block a:hover {
  border-color: #9EF9DA;
  transition: box-shadow .2s,color .2s;
}

/* line 129, ../sass/_background2.scss */
.inter-btn {
  margin-left: auto;
  margin-right: auto;
}
/* line 133, ../sass/_background2.scss */
.inter-btn h2 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
}
/* line 139, ../sass/_background2.scss */
.inter-btn p {
  font-family: Roboto;
  font-weight: 300;
}

/* line 145, ../sass/_background2.scss */
.background {
  background-color: #f1f1f1;
  height: 400px;
}

/* line 150, ../sass/_background2.scss */
.inter-2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 155, ../sass/_background2.scss */
.inter-2 h2 {
  padding-top: 53px;
  font-family: Roboto;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 0;
}
/* line 166, ../sass/_background2.scss */
.inter-2 .inter-block-2 {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 20px;
}
/* line 172, ../sass/_background2.scss */
.inter-2 .inter-block-2 .inter-btn {
  width: 70%;
}
/* line 175, ../sass/_background2.scss */
.inter-2 .inter-block-2 .inter-btn h2 {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  text-transform: none;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
/* line 185, ../sass/_background2.scss */
.inter-2 .inter-block-2 .inter-btn a {
  text-decoration: none;
  color: #008955;
  cursor: pointer;
}
/* line 191, ../sass/_background2.scss */
.inter-2 .inter-block-2 .inter-btn a:hover {
  text-decoration: underline;
  text-decoration-color: green;
}
/* line 196, ../sass/_background2.scss */
.inter-2 .inter-block-2 .inter-btn p {
  font-size: 14px;
}
/* line 200, ../sass/_background2.scss */
.inter-2 .inter-btn-2 {
  margin-top: 50px;
}
/* line 203, ../sass/_background2.scss */
.inter-2 .inter-btn-2 a {
  padding-top: 8px;
  font-size: 18px;
  padding: 8px 40px;
  font-family: Roboto;
  color: #FFF;
  font-weight: 400;
  line-height: 1.33333;
  cursor: pointer;
  background: #008955;
  border-radius: 4px;
  border: 2px solid #008955;
  text-decoration: none;
}
/* line 218, ../sass/_background2.scss */
.inter-2 .inter-btn-2 a:hover {
  background-color: #166816;
}

/* line 222, ../sass/_background2.scss */
.video {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 80px;
}

/* line 228, ../sass/_background2.scss */
.brand {
  text-align: center;
  margin-bottom: 65px;
}
/* line 232, ../sass/_background2.scss */
.brand img {
  margin-right: 50px;
  margin-left: 50px;
}

/* line 238, ../sass/_background2.scss */
.back-btn-2 {
  background-color: #dcdcdd;
  border: 2px solid #dcdcdd;
  width: 22%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 470px;
  font-size: 18px;
  line-height: 1.33333;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
  border-radius: 4px;
}
/* line 252, ../sass/_background2.scss */
.back-btn-2 a {
  color: #323233;
  text-decoration: none;
  font-weight: 400;
  font-family: Roboto;
}

/* line 260, ../sass/_background2.scss */
.back-btn-2:hover {
  background-color: #FFF;
}

/* line 263, ../sass/_background2.scss */
.inter-block-3 h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  color: #4E4E4E;
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
}
/* line 273, ../sass/_background2.scss */
.inter-block-3 p {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: #4E4E4E;
  line-height: 1.4;
}

/* line 286, ../sass/_background2.scss */
.brand-2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
/* line 292, ../sass/_background2.scss */
.brand-2 img {
  margin-right: 40px;
  margin-left: 40px;
}

/* line 298, ../sass/_background2.scss */
.inter-4 {
  background-color: #69696a;
}

/* line 300, ../sass/_background2.scss */
.logo {
  padding-top: 18px;
  text-align: center;
  color: #FFF;
  padding-bottom: 15px;
}
/* line 306, ../sass/_background2.scss */
.logo a {
  text-align: center;
  font-family: Roboto;
  color: #FFF;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 2px;
}
/* line 315, ../sass/_background2.scss */
.logo img {
  width: 250px;
}

/* line 318, ../sass/_background2.scss */
.menu {
  text-align: center;
}
/* line 321, ../sass/_background2.scss */
.menu a {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: grey;
  color: #FFF;
}

/* line 331, ../sass/_background2.scss */
.menu-item:hover {
  text-decoration-color: #B7B7B7;
}

/* line 333, ../sass/_background2.scss */
.menu-item:not(:first-child):before {
  transition-duration: 0.3s;
  content: '|';
  color: #FFF;
  display: inline-block;
  padding: 0 15px;
}

/* line 341, ../sass/_background2.scss */
.inter-block-4 {
  margin-top: 100px;
  border-top: 1px dashed #fff;
}
/* line 345, ../sass/_background2.scss */
.inter-block-4 p {
  font-family: Roboto;
  width: 63%;
  line-height: 1.6;
  color: #FFF;
}
/* line 352, ../sass/_background2.scss */
.inter-block-4 .inter-btn-4 {
  margin-top: 28px;
  width: 40%;
  float: left;
}
/* line 357, ../sass/_background2.scss */
.inter-block-4 .inter-btn-4 a {
  background-color: #fff;
  display: block;
  width: 55%;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 15px;
  border-radius: 3px;
  border: 2px solid #d0d0d0;
  transition: border-color .2s;
  text-decoration: none;
  color: #777;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

/* line 376, ../sass/_background2.scss */
.inter-btn-3 a {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
}

/* line 382, ../sass/_background2.scss */
.inter-btn-3 a:hover {
  text-decoration-color: #B7B7B7;
}
